---
import { Icon } from 'astro-icon/components';

const { 
  logo = 'tabler:map-pin', 
  text = 'Desa Bojongmanggu, Kecamatan Pameungpeuk, Kabupaten Bandung',
  href = 'https://maps.app.goo.gl/4NXUALtXDy6YYx657'
} = Astro.props;
---

<section class="bg-slate-100 dark:bg-slate-900 not-prose">
  <a href={href} target="_blank">
    <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
      <strong>Lokasi Kami: </strong> <Icon name={logo} class="w-5 h-5 inline-block align-text-bottom" /> {text}
    </div>
    <div class="flex justify-center">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31679.557147419448!2d107.586774!3d-7.01579295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68ebc4a7b21951%3A0x401e8f1fc28c6b0!2sPameungpeuk%2C%20Bandung%20Regency%2C%20West%20Java!5e0!3m2!1sen!2sid!4v1728314487637!5m2!1sen!2sid" width="50%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </a>
</section>
