---
import { Icon } from 'astro-icon/components';
---

<section class="bg-slate-100 dark:bg-slate-900 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">Kunjungi Kami:</span> Desa Bojongmanggu, Kecamatan Pameungpeuk, Kabupaten Bandung
  </div>
</section>
