---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About Us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    contentID='profileHeroType',
    images={[
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 1 description',
      width: 1024,
      height: 576,
    },
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 2 description',
      width: 1024,
      height: 576,
    },
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 3 description',
      width: 1024,
      height: 576,
    },
  ]};
  >
    <Fragment slot="title">
      Profil Kampung Sorgum
    </Fragment>

    <Fragment slot="subtitle">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, temporibus incidunt ipsam, enim, atque laborum itaque inventore nihil totam nobis iste repudiandae. Optio, sit? Cumque soluta laborum temporibus itaque quam.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>

  
  <!-- Features2 Widget ************** -->

  <Features2
    id="tentang"
    title="Tentang Kami"
    subtitle="Kampung Sorgum merupakan pionir dalam pengembangan sorgum di Desa Bojongmanggu, Kabupaten Bandung. Melalui budidaya dan inovasi pangan sorgum, kami berkomitmen mendukung ketahanan pangan lokal dengan menyediakan produk sehat, ramah lingkungan, dan bernutrisi tinggi."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Features2 Widget ************** -->

  <Features2
    id="sejarah"
    title="Sejarah Kami"
    subtitle="Didirikan oleh Abah Sorgum, Kampung Sorgum berawal dari visi untuk mengenalkan sorgum sebagai alternatif pengganti gandum impor. Bersama Kelompok Wanita Tani Melati Sorgum, kami berhasil membudidayakan sorgum dalam skala besar, menghasilkan berbagai produk pangan, dan menjadi pusat edukasi pertanian sorgum."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- Content Widget **************** -->

  <Content
    id="tim"
    columns={1}
    items={[
      {
        icon: 'tabler:globe-filled',
        callToAction: {
          target: '_blank',
          text: 'Kunjungi Website Tim KWT',
          href: 'https://www.kampungsorgum.com',
        },
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1491349174775-aaafddd81942?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Tim KWT</h2>
      <p>Kelompok Wanita Tani Sorgum Bojongmangu, yang berbasis di desa Bojongmangu, Kabupaten Bandung, menjadi kekuatan positif dalam pengembangan pertanian lokal. Didirikan pada tahun 2020, kelompok ini mengusung misi mulia untuk meningkatkan kesejahteraan para wanita tani di wilayah tersebut. Fokus utama kelompok ini adalah pada pengembangan tanaman sorgum, yang mencakup seluruh rangkaian aktivitas, mulai dari penanaman hingga pengolahan hasil. Para anggota kelompok aktif terlibat dalam setiap tahapan proses pertanian, memperoleh pengetahuan dan keterampilan yang berharga sepanjang perjalanan. </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
</Layout>
