---
import { getPermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import EdusorgumList from '~/components/widgets/EdusorgumList.astro';

import { contentfulClient } from '~/lib/contentful';
import type { Asset, EntryFieldTypes } from 'contentful';

// Define the structure of the content type based on your provided fields
interface EdusorgumHalamanType {
  contentTypeId: string;
  fields: {
    judulHero: EntryFieldTypes.Text;
    subtitleHero: EntryFieldTypes.Text;
  };
}

const entriesType = await contentfulClient.getEntries<EdusorgumHalamanType>({
  content_type: 'edusorgumType',
  limit: 1,
});

// Map the data to be used in the template
const profileEntry = entriesType.items[0]?.fields;

const judulHero = profileEntry?.judulHero;
const subtitleHero = profileEntry?.subtitleHero;

const metadata = {
  title: 'Edusorgum',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  contentID='edusorgumHeroType',
  >
    <Fragment slot="title">
      {judulHero}
    </Fragment>

    <Fragment slot="subtitle">
      {subtitleHero}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>
  
  <!-- Articles Widget **************** -->

  <EdusorgumList
    id="paket"
    title="Artikel Edusorgum"
    subtitle="Temukan berbagai artikel menarik yang kami tawarkan untuk memenuhi kebutuhan Anda."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </EdusorgumList>
</Layout>
