---
import { getPermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import LatestArticles from '~/components/widgets/LatestArticles.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Edutainment',
};
---

<Layout metadata={metadata}>

  <!-- Hero Widget ******************* -->
  
  <Hero
    contentID='edutimentHeroType',
    images={[
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 1 description',
      width: 1024,
      height: 576,
    },
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 2 description',
      width: 1024,
      height: 576,
    },
    {
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Image 3 description',
      width: 1024,
      height: 576,
    },
  ]};
  >
    <Fragment slot="title">
      Edutainment
    </Fragment>

    <Fragment slot="subtitle">
      Temukan berbagai edukasi menarik yang kami tawarkan untuk memenuhi kebutuhan Anda.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>
  
  <!-- Articles Widget **************** -->

  <LatestArticles
    id="blog"
    title="Edutainment Kampung Sorgum"
    subtitle="Temukan berbagai edukasi menarik yang kami tawarkan untuk memenuhi kebutuhan Anda."
    items={[
      {
        title: 'Edutainment 1',
        description: 'Edutainment 1 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Edutainment 2',
        description: 'Edutainment 2 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Edutainment 3',
        description: 'Edutainment 3 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Edutainment 4',
        description: 'Edutainment 4 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Edutainment 5',
        description: 'Edutainment 5 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Edutainment 6',
        description: 'Edutainment 6 adalah edukasi yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/edukasi'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </LatestArticles>
  
</Layout>
