---
import { getPermalink } from '../utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import EdursogumPosts from '~/components/widgets/EdursogumPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import LatestArticles from '~/components/widgets/LatestArticles.astro';
import { SITE } from 'astrowind:config';
import favIcon from '~/assets/favicons/favicon.ico';
import PaketShortList from '~/components/widgets/PaketShortList.astro';
import Image from '~/components/common/Image.astro';

import { contentfulClient } from '~/lib/contentful';
import type { Asset, EntryFieldTypes } from 'contentful';
import ContactApps from '~/components/widgets/ContactApps.astro';

function limitWords(text: string, wordLimit: number = 10): string {
  const words = text.split(' ');
  if (words.length > wordLimit) {
    return words.slice(0, wordLimit).join(' ') + '...';
  }
  return text;
}

interface PaketShortListType {
  contentTypeId: string;
  fields: {
    namaPaket: EntryFieldTypes.Text;
    foto: EntryFieldTypes.AssetLink;
    judul: EntryFieldTypes.Text;
    isiPaket: EntryFieldTypes.Text;
    harga: EntryFieldTypes.Text;
  };
}

// Fetch the entry and include linked assets
const shortPaket = await contentfulClient.getEntries<PaketShortListType>({
  content_type: 'berandaPaketSorgumType',
});

const paket = shortPaket.items.map((item) => {
  const asset: Asset | undefined = shortPaket.includes?.Asset?.find(
    (asset: Asset) => asset?.sys?.id === item?.fields?.foto?.sys?.id
  );

  // Safely access the image URL
  const imageShortPaket: string | null = typeof asset?.fields?.file?.url === 'string' ? asset.fields.file.url : null;

  return {
    title: item.fields.judul,
    description: item.fields.isiPaket,
    href: getPermalink('/edutainment'),
    image: imageShortPaket,
    harga: item.fields.harga,
  };
});

interface ProductListType {
  contentTypeId: string;
  fields: {
    namaFile: EntryFieldTypes.Text;
    foto: EntryFieldTypes.AssetLink;
    judul: EntryFieldTypes.Text;
    caption: EntryFieldTypes.Text;
  };
}

// Fetch the entry and include linked assets
const productList = await contentfulClient.getEntries<ProductListType>({
  content_type: 'berandaProdukSorgumType',
});

const productListitems = productList.items.map((item) => {
  const asset: Asset | undefined = productList.includes?.Asset?.find(
    (asset: Asset) => asset?.sys?.id === item?.fields?.foto?.sys?.id
  );

  // Safely access the image URL
  const imageProductURL: string | null = typeof asset?.fields?.file?.url === 'string' ? asset.fields.file.url : null;

  return {
    title: item.fields.judul,
    description: limitWords(item.fields.caption, 10),
    href: getPermalink('/product'),
    image: imageProductURL,
  };
});

// Define the structure of the content type based on your provided fields
interface ProfileKampungSorgumType {
  contentTypeId: string;
  fields: {
    namaFile: EntryFieldTypes.Text;
    foto: EntryFieldTypes.AssetLink;
  };
}

const entries = await contentfulClient.getEntries<ProfileKampungSorgumType>({
  content_type: 'berandaManfaatType',
  'fields.namaFile': 'fotosorgum',
  limit: 1,
});

// Map the data to be used in the template
const profileEntry = entries.items[0]?.fields;

const namaFile = profileEntry?.namaFile;
const asset: Asset | undefined = entries.includes?.Asset?.find(
  (asset: Asset) => asset?.sys?.id === entries.items[0]?.fields?.foto?.sys?.id
);

// Safely access the image URL
const imageManfaatURL: string | null = typeof asset?.fields?.file?.url === 'string' ? asset.fields.file.url : null;

const metadata = {
  title: 'Kampung Sorgum',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero contentID="berandaHeroType" ,>
    <Fragment slot="title">
      <Image class="w-90" src={favIcon} alt="Hero image" style="width: 14vw; height: 13vw;" />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="Kampung Sorgum"
    subtitle="Manfaat yang kami berikan:"
    items={[
      {
        title: 'Pemberdayaan Ekonomi Lokal',
        description:
          'Kampung Sorgum dapat menjadi pusat pengembangan ekonomi bagi masyarakat lokal dengan menyediakan lapangan kerja di sektor pertanian, pengolahan hasil sorgum, dan distribusi produk. Hal ini membantu meningkatkan pendapatan warga desa dan mengurangi tingkat kemiskinan.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ketahanan Pangan',
        description:
          'Dengan menanam sorgum secara berkelanjutan, Kampung Sorgum berkontribusi terhadap ketahanan pangan lokal. Sorgum sebagai sumber pangan alternatif dapat mengurangi ketergantungan pada beras dan jagung, terutama di daerah yang rentan terhadap perubahan iklim.',
        icon: 'tabler:components',
      },
      {
        title: 'Edukasi dan Pelatihan Pertanian Berkelanjutan',
        description:
          'Kampung Sorgum dapat berfungsi sebagai pusat pelatihan bagi petani dan masyarakat sekitar tentang teknik pertanian berkelanjutan, diversifikasi tanaman, serta pengelolaan sumber daya alam. Edukasi ini membantu menjaga kelestarian lingkungan dan meningkatkan produktivitas lahan.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Pengembangan Produk Lokal dan Wisata Edukasi',
        description:
          'Kampung Sorgum dapat menjadi destinasi wisata edukasi yang menarik, di mana pengunjung belajar tentang budidaya sorgum, proses pengolahan menjadi berbagai produk, dan manfaatnya. Selain itu, produk olahan sorgum seperti tepung, makanan ringan, atau minuman dapat dipromosikan sebagai produk lokal unggulan.',
        icon: 'tabler:rocket',
      },
    ]}
  />

  <!-- PaketShortList Widget ************** -->

  <PaketShortList 
    title="Edutainment" 
    columns={3}
    subtitle="Paket yang tersedia:" 
    items={[...paket]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </PaketShortList>

  <!-- Steps Widget ****************** -->

  <Steps
    title="Manfaat dan Keuntungan Sorgum:"
    items={[
      {
        title: 'Tahan Kondisi Kering',
        description:
          'Sorgum adalah tanaman yang tahan terhadap kekeringan, sehingga cocok untuk ditanam di daerah dengan curah hujan yang rendah. Ini membuatnya menjadi alternatif yang baik untuk tanaman lain seperti jagung yang membutuhkan lebih banyak air.',
        icon: 'tabler:sun-wind',
      },
      {
        title: 'Kaya Nutrisi',
        description:
          'Sorgum merupakan sumber karbohidrat, serat, dan protein yang baik. Selain itu, sorgum juga mengandung vitamin B, magnesium, kalium, dan antioksidan yang bermanfaat bagi kesehatan, termasuk menjaga kesehatan pencernaan dan mengurangi risiko penyakit kronis.',
        icon: 'tabler:activity-heartbeat',
      },
      {
        title: 'Bebas Gluten',
        description:
          'Sorgum adalah sumber karbohidrat yang bebas gluten, sehingga menjadi alternatif yang aman dan sehat untuk orang yang memiliki sensitivitas atau intoleransi terhadap gluten, seperti penderita penyakit celiac.',
        icon: 'tabler:milk-off',
      },
      {
        title: 'Diversifikasi Pertanian & Sumber Energi',
        description:
          'Sorgum dapat digunakan untuk berbagai tujuan, baik sebagai bahan pangan, pakan ternak, atau bahan baku bioenergi (biofuel). Hal ini menjadikannya tanaman yang fleksibel dan bermanfaat untuk diversifikasi pertanian serta mendukung produksi energi terbarukan.',
        icon: 'tabler:sun-electricity',
      },
    ]}
    image={{
      src: imageManfaatURL || '',
      alt: namaFile,
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <EdursogumPosts
    title="Informasi Edusorgum"
    information={`Temukan manfaat sorgum, cara mengolahnya, hingga tips untuk mengembangkan pertanian sorgum secara berkelanjutan.`}
  />

  <!-- Product Widget **************** -->

  <LatestArticles
    tagline="Produk Terbaru!"
    title="Produk Sorgum"
    subtitle="Temukan berbagai produk olahan sorgum yang sehat, lezat, dan ramah lingkungan."
    buttonText="Lihat Semua Produk"
    items={[...productListitems]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0"></div>
    </Fragment>
  </LatestArticles>

  <!-- ContactApps Widget ************ -->

  <ContactApps
    title="Hubungi Kami"
    subtitle="Jika Anda memiliki pertanyaan atau ingin berdiskusi lebih lanjut, jangan ragu untuk menghubungi kami."
  >
    <!-- CallToAction Widget *********** -->

    <CallToAction
      actions={[
        {
          variant: 'primary',
          text: 'Kontak',
          href: getPermalink('/contact'),
          // target: '_blank',
          // icon: 'tabler:download',
        },
      ]}
    >
      <Fragment slot="title">
        <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Kunjungi Kami!</span>
      </Fragment>
      <Fragment slot="bg">
        <div class="absolute inset-0"></div>
      </Fragment>
    </CallToAction>
  </ContactApps>
</Layout>
