---
import { getPermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import { YouTube } from 'astro-embed';
import LatestArticles from '~/components/widgets/LatestArticles.astro';

import { contentfulClient } from '~/lib/contentful';
import type { Asset, EntryFieldTypes } from 'contentful';

interface GalleryImagesType {
  contentTypeId: string;
  fields: {
    namaFile: EntryFieldTypes.Text;
    foto: EntryFieldTypes.AssetLink;
  };
}

// Fetch the entry and include linked assets
const entries = await contentfulClient.getEntries<GalleryImagesType>({
  content_type: 'mediaImagesType',
});

const items = entries.items.map((item) => {
  
  const asset: Asset | undefined = entries.includes?.Asset?.find(
            (asset: Asset) => asset?.sys?.id === item?.fields?.foto?.sys?.id
          );

          // Safely access the image URL
          const imageURL: string | null = typeof asset?.fields?.file?.url === 'string' ? asset.fields.file.url : null;

  return {
    href: getPermalink('/mediapage/' + item.fields.namaFile),
    image: imageURL
  };
});

interface EdusorgumHalamanType {
  contentTypeId: string;
  fields: {
    judulHero: EntryFieldTypes.Text;
    subtitleHero: EntryFieldTypes.Text;
  };
}

const entriesType = await contentfulClient.getEntries<EdusorgumHalamanType>({
  content_type: 'mediaType',
  limit: 1,
});

// Map the data to be used in the template
const profileEntry = entriesType.items[0]?.fields;

const judulHero = profileEntry?.judulHero;
const subtitleHero = profileEntry?.subtitleHero;

const metadata = {
  title: 'Media',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    contentID='mediaHeroType',
  >
    <Fragment slot="title">
      {judulHero}
    </Fragment>

    <Fragment slot="subtitle">
      {subtitleHero}
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
    <span class="hidden sm:inline">
      <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
      + Tailwind CSS.</span
    >
    <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
    Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
    Blogs.
  </Fragment> -->
  </Hero>
  
  <YouTube id="gxBkghlglTg" title="Astro just Launched.... Could it be the ultimate web framework?" />
  <style is:inline>
    lite-youtube {
      margin: 0 auto;
      max-width: 100%;
    }
  </style>

  <!-- Articles Widget **************** -->

  <LatestArticles
    id="images"
    title="Galeri Gambar"
    columns={2}
    subtitle="Lihat galeri gambar terbaru kami."
    buttonText="Perbesar"
    items={[
      ...items
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </LatestArticles>
</Layout>
