---
import { getPermalink } from '~/utils/permalinks';
import Layout from '~/layouts/PageLayout.astro';
import LatestArticles from '~/components/widgets/LatestArticles.astro';

import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Produk',
};
---

<Layout metadata={metadata}>
  <!-- Hero2 Widget ******************* -->

  <Hero
    contentID='produkHeroType',
  >
    <Fragment slot="title">
      Produk Kami
    </Fragment>

    <Fragment slot="subtitle">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius, temporibus incidunt ipsam, enim, atque laborum itaque inventore nihil totam nobis iste repudiandae. Optio, sit? Cumque soluta laborum temporibus itaque quam.
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>

    <!-- <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">AstroWind</span> is a free, customizable and production-ready template for Astro 4.0
        + Tailwind CSS.</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">AstroWind: Production-ready.</span>
      Suitable for Startups, Small Business, SaaS websites, Professional Portfolios, Marketing websites, Landing Pages &
      Blogs.
    </Fragment> -->
  </Hero>
  
  <!-- Articles Widget **************** -->

  <LatestArticles
    id="paket"
    title="Paket Wisata Kampung Sorgum"
    subtitle="Rasakan pengalaman unik berwisata di Kampung Sorgum! Jelajahi keindahan alam, belajar langsung tentang budidaya sorgum, dan nikmati berbagai kegiatan edukatif yang seru. Pilih paket wisata yang sesuai dengan kebutuhan Anda dan jadikan kunjungan Anda berkesan dengan menikmati hasil alam yang sehat dan ramah lingkungan."
    items={[
      {
        title: 'Paket 1',
        description: 'Paket 1 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 2',
        description: 'Paket 2 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 3',
        description: 'Paket 3 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 4',
        description: 'Paket 4 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 5',
        description: 'Paket 5 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 6',
        description: 'Paket 6 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </LatestArticles>
  
  <!-- Articles Widget **************** -->

  <LatestArticles
    id="olahan"
    title="Paket Produk Unggulan Kampung Sorgum"
    subtitle="Jelajahi berbagai pilihan produk sorgum berkualitas dari Kampung Sorgum. Setiap paket dirancang untuk memenuhi kebutuhan Anda akan pangan sehat, bergizi, dan ramah lingkungan. Dukung ketahanan pangan lokal dengan memilih produk sorgum terbaik kami."
    items={[
      {
        title: 'Paket 1',
        description: 'Paket 1 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 2',
        description: 'Paket 2 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 3',
        description: 'Paket 3 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 4',
        description: 'Paket 4 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 5',
        description: 'Paket 5 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
      {
        title: 'Paket 6',
        description: 'Paket 6 adalah paket yang paling murah dan paling banyak diminati oleh pelanggan kami.',
        href: getPermalink('/paket'),
        image: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-slate-800"></div>
    </Fragment>
  </LatestArticles>
</Layout>
